<%= form_for(@user) do |f| %>
<div class="email">
   <%= f.label :email %><br />
   <%= f.text_field :email %>
</div>
	<div class="field">
	   <%= f.label :password %><br />
	   <%= f.password_field :password %>
	</div>
	<div class="field">
	   <%= f.label :password_confirmation %><br />
	   <%= f.password_field :password_confirmation %>
	</div>

	<%# for role in User::ROLES %>
	  <%#= check_box_tag "user[roles][#{role}]", role, @user.roles.include?(role), {:name => "user[roles][]"}%>
	  <%#= label_tag "user_roles_#{role}", role.to_s.humanize %><br />
	<%# end %>
	<%#= hidden_field_tag "user[roles][]", "" %>

	<%= f.submit %>
<% end %>

