<div class="nested-fields">
	<%= f.label :price_tier %>
	<%= f.number_field :price_tier %>
	<br><%= f.label :description %>
	<%= f.text_field :description%>

	<%= link_to_remove_association "remove reward", f%>
</div>

