<h1>All Projects</h1>
<h3>Tags by Popularity</h3>
<div id="tag_cloud">
  <% tag_cloud Project.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
<% @projects.each do |project| %>
	<p>Name: <%= link_to project.name, project_path(project) %>
			<br>Description: <%= project.description %>
      <br> Tags: <%= raw project.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
			<br>Start Date: <%= project.pretty_start_date %>
			<br>End Date: <%= project.pretty_end_date %>
			<br>Funding Goal: <%= project.funding_goal %>
	</p>
<% end %>