<div id="tag_cloud" class="text-center">
	<h1>All Projects</h1>
	<h3>Tags</h3>
	<% tag_cloud Project.tag_counts, %w{s m l} do |tag, css_class| %>
	<%= link_to tag.name, tag_path(tag.name), class: css_class %> |
	<% end %>
</div>

<div class="container">
	<div class="row">
		<% @projects.each do |project| %>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="<%= project.url %>" alt="...">
				<div class="caption">
					<h3> <%= link_to project.name, project_path(project) %> </h3>
					<p><%= project.description %></p>
					<!-- <br>Tags: <%#= raw project.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> -->
					<br>Start Date: <%= project.pretty_start_date %>
					<br>End Date: <%= project.pretty_end_date %>
					<br>Days left: <%= project.days_left %>
					<br>Funding Goal: <%= project.funding_goal %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>

