<h1><%= @project.name %> Project</h1>

	<p>
		Name: <%= @project.name %> | By: <%= @project.owner.email %>
		<br>Description: <%= @project.description %>
		<br> Tags: <%= raw @project.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
		<br>Start Date: <%= @project.pretty_start_date %>
		<br>End Date: <%= @project.pretty_end_date %>
		<br>Funding Goal: <%= @project.funding_goal %>
		<br>Raised so far: <div id="amount_raised"> <%= @project.amount_raised %> </div>
		<br>Days Left: <%= @project.days_left %>
	</p>

	<% if @project.pledges.include?(@project.pledges.where(backer_id: current_user.id).first) %>
		<h3>You are a backer!!!</h3> 
	<% end %>

	<h1>Rewards</h1>
	<% @project.rewards.all.each do |reward| %>
		<div class="panel">
			<p>	
				Reward tier: <%= reward.price_tier %> 
				<br> Description: <%= reward.description %>
				<%= link_to "Back Project", pledges_path(:pledge => {contribution: reward.price_tier,  reward_id: reward.id, project_id: @project.id}), class: "backed-project", method: :post, remote: true %>
			</p>
		</div>
	<% end %>

<%= link_to 'Delete', project_path(@project), method: :delete %> | 
<%= link_to 'Edit ', edit_project_path(@project) %>
