<h1><%= @project.name %> Project</h1>

	<p>
		Name: <%= @project.name %>
		<br>Description: <%= @project.description %>
		<br>Start Date: <%= @project.pretty_start_date %>
		<br>End Date: <%= @project.pretty_end_date %>
		<br>Funding Goal: <%= @project.funding_goal %>
	</p>

	<h1>Rewards</h1>
	<% @project.rewards.all.each do |reward| %>
		<div class="panel">
			<p>	
				Reward tier: <%= reward.price_tier %> 
				<br> Description: <%= reward.description %>
				<%= link_to "Back Project", pledges_path(reward_id: reward.id), method: :post %>
			</p>
		</div>
	<% end %>

<%= link_to 'Delete', project_path(@project), method: :delete %> | 
<%= link_to 'Edit ', edit_project_path(@project) %>
