<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Crowdfunder</a>
      </div>
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-6" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav pushleft">
          <li class="active">
            <%= link_to "Home", projects_path %>
          </li>
          <li>
            <%= link_to "New Project", new_project_path %>
          </li>
        </ul>

        <ul class="nav navbar-nav pushright">
          <% if current_user %>
          <li>
            <%= link_to "My Profile", user_path(current_user.id) %>
          </li>
          <li>
            <%= link_to "Logout", :logout, method: :post %>
          </li>
          <% else %>
          <li>
            <%= link_to "Register", new_user_path %>
          </li>
          <li>
            <%= link_to "Login", :login %>
          </li>
          <% end %>  </div>
        </ul>
      </div>
    </nav>

    <%= yield %>

  </body>
  </html>

